<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painless :: Criar nova senha</title>
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{{path_web}}/public/css/login.css">
</head>
<body>
<main>
    <section class="container">
        <div class="card mdl-shadow--24dp container-form-login border-0">
            <div class="card-header bg-white border-0">
                <h4>Nova senha</h4>
            </div>

            <div class="card-body bg-white mrg-b-15">
                <form action="#" autocomplete="off">
                    <input type="hidden" value="{{token}}" id="ipt_token" name="ipt_token">
                    <label for="username"></label>
                    <input id="username" style="opacity: 0;position: absolute;" type="text" name="fakeUserNameRemembered">

                    <label for="password"></label>
                    <input id="password" style="opacity: 0;position: absolute;" type="password" name="fakePasswordRemembered">

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" id="ipt_password" name="ipt_password" autocomplete="new-password" aria-hidden="true">
                        <label class="mdl-textfield__label" for="ipt_password">Nova senha</label>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" id="ipt_password_confirm" name="ipt_password_confirm" autocomplete="new-password" aria-hidden="true">
                        <label class="mdl-textfield__label" for="ipt_password_confirm">Confirme a nova senha</label>
                    </div>

                    <div class="text-center mrg-b-10">
                        <button class="btn btn-primary btn-block btn-round" id="btnRecord">Gravar</button>
                    </div>

                    <div class="text-center">
                        <a class="btn btn-link" href="{{path_web}}/login">Voltar ao login</a>
                    </div>
                </form>
            </div>

            <div id="card-message" class="text-muted bg-white">
                <p id="message" class="alert-text text-center"></p>
            </div>

            <div class="mdl-card__actions">
                <p>A nova senha deve conter:</p>
                <ul class='mdl-list'>
                    <li class="mdl-list__item">No mínimo oito caracteres</li>
                    <li class="mdl-list__item">Pelo menos um número</li>
                    <li class="mdl-list__item">Pelo menos um caractere em letras maiúsculas</li>
                    <li class="mdl-list__item">Pelo menos um caractere em minúsculo</li>
                </ul>
            </div>
        </div>
    </section>
</main>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script>
    const JS_PATH_WEB = '{{path_web}}';
</script>
<script src="{{path_web}}/public/js/main.min.js"></script>
<script src="{{path_web}}/public/js/login.js"></script>
</html>