# Others
tmp/cache/*
tmp/pdfs/*
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#############
## PHP Storm
#############
.idea/
.idea
/install/*.sublime-workspace
/install/*.sublime-project
/.idea
.idea/*

#############
## My Ignore
#############
tmp/
tmp/*
.env
composer.lock
package-lock.json
vendor
node_modules
/phpunit.xml
/tests/
/public
