/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

a, a:hover {
  text-decoration: none !important; }

#server-error {
  background: #FAFAFA; }
  #server-error h1 {
    color: #ec3e52;
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    text-align: center;
    margin-bottom: 15px;
    text-shadow: #858585 1px 2px 3px; }
  #server-error p {
    text-align: center;
    color: #ec3e52;
    font-size: 36px;
    font-family: 'Open Sans Condensed', sans-serif; }
    #server-error p a {
      text-shadow: 0;
      text-decoration: none;
      font-size: 18px;
      color: #ec3e52; }
  #server-error .container-box {
    /*background: #fff;*/
    position: absolute;
    top: 25%;
    width: 100%;
    height: 180px;
    padding: 20px 0; }

*, html, body {
  font-family: 'Syncopate', sans-serif;
  font-size: 64px; }

body {
  background: #fafafa;
  font-size: 12px; }

.logo {
  font-size: 100px;
  text-align: center;
  text-shadow: #858585 1px 2px 3px;
  color: #556270;
  top: 40%;
  position: absolute;
  width: 100%; }

.box-nav-principal {
  background: #556270;
  display: grid; }
  .box-nav-principal .nav-principal {
    display: flex; }
    .box-nav-principal .nav-principal li a {
      padding: 25px 15px;
      display: block;
      text-decoration: none;
      color: #b3d0e6; }
      .box-nav-principal .nav-principal li a.logo-menu {
        border: 1px solid #ffffff;
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        padding: 8px;
        margin: 7px;
        color: #ffffff;
        font-size: 28px; }
      .box-nav-principal .nav-principal li a.selected, .box-nav-principal .nav-principal li a:hover {
        color: #ffffff; }

.github {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 32px;
  padding: 15px 15px;
  color: #b3d0e6; }
