<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página não encontrada</title>
    <link href="https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{path_web}}/public/css/styles.css">
</head>
<body id="server-error">
<div class="main">
    <div class="container-box">
        <h1>404</h1>
        <p>Conteúdo não encontrado!</p>
        <p><a href="{{path_web}}/home">Voltar a home</a></p>
    </div>
</div>
</body>
</html>