<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Método não permitido</title>
    <link href="https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/css/styles.css">
</head>
<body id="server-error">
<div class="main">
    <div class="container-box">
        <h1>405</h1>
        <p>Método não permitido!</p>
        <p><a href="home">Voltar a home</a></p>
    </div>
</div>
</body>
</html>