<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{path_web}}/public/css/styles.css">
</head>
<body id="server-error">
<div class="main">
    <div class="container-box">
        <h1>Ops!</h1>
        <p>Link expirado</p>
        <p><a href="{{path_web}}/password/recover">Clique aqui ára solicitar novo link de recuperação de senha</a></p>
        <p>{{teste}}</p>
    </div>
</div>
</body>
</html>