/* Beauty */
$color-default: #ffffff !default;
$bg-color-default: #757575 !default;

$color-primary: #ffffff !default;
$bg-color-primary: #313740 !default;

$color-info: #ffffff !default;
$bg-color-info: #33b0fc !default;

$color-success: #ffffff !default;
$bg-color-success: #38aa3a !default;

$color-warning: #3c3c3c !default;
$bg-color-warning: #fbce3f !default;

$color-danger: #ffffff !default;
$bg-color-danger: #f13950 !default;

$color-neutral: #ffffff !default;
$bg-color-neutral: #33bf9d !default;